extends layout

block content
  h1= title
  p Listening on http://favana-gps.openode.io/endpoint
  
  div#data
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io('http://favana-gps.openode.io/');
    socket.on('data', function (data) {
      console.log(data);
      var metaNode = document.createElement("P");
      var textMetaNode = document.createTextNode(new Date() + " - data recevied :");   
      metaNode.appendChild(textMetaNode); 
      document.getElementById("data").appendChild(metaNode);
      var node = document.createElement("PRE");                 
      var textnode = document.createTextNode(JSON.stringify(data));         
      node.appendChild(textnode);                             
      document.getElementById("data").appendChild(node);
    });